<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVTHC9_OHtRBZooclvH9a4TGMdNa7cMqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>571319990576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsacjapan.memberapp</string>
	<key>PROJECT_ID</key>
	<string>bsac-6b2b9</string>
	<key>STORAGE_BUCKET</key>
	<string>bsac-6b2b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571319990576:ios:ca512d23ca8dc1abf8b0f5</string>
</dict>
</plist>